@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow: auto !important;
}

input,
textarea,
select {
  @apply border  border-green-900 rounded-lg py-2 px-2 w-full;
  @apply shadow-md;
  @apply mb-2;
}

input:focus,
textarea:focus,
select:focus {
  @apply border-green-600;
}
img {
  max-height: 100%;
}
h1 {
  @apply py-2 text-xl font-bold text-green-900 mb-2;
}
h2 {
  @apply text-lg font-semibold text-green-900;
}
label {
  @apply text-green-900 text-sm font-semibold;
}

.btn-primary {
  @apply bg-green-900 px-4 py-1 text-white rounded-lg text-lg;
}

.editLink {
  @apply p-1 bg-green-900 text-white text-sm rounded-lg flex gap-1 items-center justify-center;
}
.deleteLink {
  @apply p-1 bg-red-700 text-white text-sm rounded-lg flex gap-1 items-center;
}
.noLink {
  @apply p-1 bg-gray-500 text-white text-sm rounded-lg flex gap-1 items-center;
}

.uploadBtn {
  @apply p-1 bg-green-900 text-white text-sm max-w-32 rounded-lg flex gap-2 items-center justify-center;
}

.customStylesSelect {
  width: 100%;
  border-color: rgb(20 83 45);
  margin-bottom: 8px;
  border-width: 1px;
  border-radius: 8px;
}

.loading {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
